.imageUpload_postcontainer {
  background-color: white;
}

.imageUpload_post {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: red; */
}

.imageupload_progress {
  width: 100%;
}
